.bg-nav{
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b8793, #360033);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b8793, #360033); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mt-100{
    margin-top:100px;
}

          .offcanvas-body {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            background-color: black; /* Light gray background color */
            border-bottom: 1px solid black; /* Light gray border bottom */
            box-shadow: 0 2px 4px rgba(0,0,0,0.4); /* Shadow effect */
        }
        h5 {
            margin: 0;
            font-weight: normal;
            font-size: 1.25rem;
        }
        nav {
            margin-top: -1px;
            /*margin-left: 900px;*/

        }
        nav a {
            margin-right: 17px;
            text-decoration: none;
            color: white; /* Dark gray text color */
        }
        @media (min-width: 910px) {
        nav {
            margin-left: 900px; /* Reset margin-left for larger screens */
        }
    }
        .btn-outline-primary {
            text-decoration: none;
            color: lawngreen; /* Primary color */
            border: 1px solid lawngreen; /* Primary color border */
            padding: 7px 14px;
            border-radius: 4px;
            margin-right: 5px;
        }
        .main-content {
            padding: 20px;
        }
        .social-links {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }
        .social-links a {
            text-decoration: none;
            margin: 0 10px;
            color: #007bff;
        }


.gradient {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*for LOGIN PAGE */





